<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-redirecturi="http://webtest.hanfoto.com" charset="utf-8"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>QQ登录</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            QQ登录：<a href='/user/getQcode'><img src="/public/images/icon/qq.png" border="0"></a><br>
            微信登录：<a href='/user/getWcode'><img src="/public/images/icon/wechat3.png" border="0"></a><br>
            QQ登录(passport)：<a href='/user/getQcodePassport'><img src="/public/images/icon/qq.png" border="0"></a><br>
        </div>
        
    </body>
</html>